<ng-container *ngIf=" renderTodoList$ | async as renderTodoList">

  {{ prnt("render main") }}

<h4>
  {{ renderTodoList.length }} Todos
  {{ prnt("render count") }}
</h4>

<input type="checkbox" (change)="updateReverseSort($event)" [checked]="reverseSort" />
newest First

<div #todoListContainer>
  {{ prnt("render list") }}
  <app-todo-list-entry *ngFor="let item of renderTodoList"
    [todo]="item" (onDone)="onTodoDone(item, $event)"
    attr.data-dirty="{{dirty}}"
  />
</div>

</ng-container>
