.app-todo-input-container {
  padding-inline: var(--app-padding-inline);
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-gap: var(--app-padding-inline);
}

.app-todo-input-container BUTTON {
  width: var(--line-height);
}
